{% extends 'index.html' %}
{% load static %}
{% block content %}


<body id="page2">
<div id="main">
	<header>
		<nav>
			<ul>
				<li><a href="{% url 'index' %}">About</a></li>
		<li class="active"><a href="{% url 'index1' %}">Audio</a></li>
		<li><a href="{% url 'index2' %}">Video</a></li>
		<li><a href="{% url 'index3' %}">Gallery</a></li>
		<li><a href="{% url 'index4' %}">Authors</a></li>
		<li><a href="{% url 'index5' %}">Contacts</a></li>
		</ul>
	</nav>

	<h1><a href="index.html">Lilly Watson</a></h1>
	<div class="header-slider">
		<ul>
		<li>This is one of <a href="http://blog.templatemonster.com/free-website-templates/">free website templates</a> created by TemplateMonster.com team. This website template is optimized for 1024X768 screen resolution.</li>
		<li>This website template has several pages: About, Audio, Video, Gallery, Tour Dates, Contacts (note that contact us form – doesn’t work).</li>
		<li>This <a href="http://blog.templatemonster.com/2011/04/12/free-music-website-template/">Free Music Website Template</a> goes with two packages – with PSD source files and without them. PSD source files are available for free.</li>
		</ul>
	</div>
	<a href="#" class="hs-prev"><img src="{% static 'new/images/prev.png' %}" alt=""></a>
	<a href="#" class="hs-next"><img src="{% static 'new/images/next.png' %}" alt=""></a>
	<a href="#" class="header-more">Read More</a>
</header><div class="innercopy">More <a href="http://www.templatemonster.com/">Website Templates</a> at TemplateMonster.com!</div>
  <article id="content">
	<div class="col-1">
	</div>
	<div class="col-2">

		</ul>
	</div>
	<div class="col-3">
	</div>
  </article>
  <div class="af clear"></div>
</div>
<footer>
	<span>
    	<a href="http://www.templatemonster.com/" target="_blank">Website template</a> designed by TemplateMonster.com<br>
		<a href="http://www.templates.com/product/illustrations/" target="_blank">Vector Illustration</a> provided by Templates.com
	</span>
</footer>
<script type="text/javascript">Cufon.now()
$(function(){
	$('nav,.more,.header-more').sprites()

	$('.header-slider').gSlider({
		prevBu:'.hs-prev',
		nextBu:'.hs-next'
	})

	$('a[rel=prettyPhoto]').each(function(){
		var th=$(this),
			pb
		th
			.append(pb=$('<span class="playbutt"></span>').css({opacity:.7}))
		pb
			.bind('mouseenter',function(){
				$(this)
					.stop()
					.animate({opacity:.9})
			})
			.bind('mouseleave',function(){
				$(this)
					.stop()
					.animate({opacity:.7})
			})
	})
	.prettyPhoto({theme:'dark_square'})
})
</script>
</body>
{% endblock %}