{% extends 'index.html' %}
{% load static %}
{% block content %}


<body id="page2">
<div id="main">
	<header>
		<nav>
			<ul>
				<li><a href="{% url 'index' %}">About</a></li>
		<li class="active"><a href="{% url 'index1' %}">Audio</a></li>
		<li><a href="{% url 'index2' %}">Video</a></li>
		<li><a href="{% url 'index3' %}">Gallery</a></li>
		<li><a href="{% url 'index4' %}">Authors</a></li>
		<li><a href="{% url 'index5' %}">Contacts</a></li>
		</ul>
	</nav>

	<h1><a href="{% url 'index' %}">Debby </a></h1>
	<div class="header-slider">
		<ul>
		<li>Here you will find many good musicians and their music.</li>
		<li>There are so many good best photos here</li>
		<li>There are a lot of videos and clips of the best musicians</li>
		</ul>
	</div>
	<a href="#" class="hs-prev"><img src="{% static 'new/images/prev.png' %}" alt=""></a>
	<a href="#" class="hs-next"><img src="{% static 'new/images/next.png' %}" alt=""></a>
	<a href="{% url 'index' %}" class="header-more">Read More</a>
</header>
  <article id="content">
	<div class="col-1">

		<div class="p2">
		<h2>New Photo</h2>
		<img src="{{ image_list.last }}" class="p1" alt="" width="200px" height="150px" ></div>
		<div class="p2">
		<h2>New Video</h2>
		<a href="{{ object.get_absolute_url }}" rel="prettyPhoto"><img class="p1" src="" alt=""></a>
		<div class="alc"> <a href="{{ object.get_absolute_url }}" class="more">Video</a></div>
		</div>
        <div class="p2">
		<h2>New Audio</h2>
		<a href="{{ audio.last.get_absolute_url }}" rel="prettyPhoto"></a>
		<div class="alc"> <a href="{{ audio.last.get_absolute_url }}" class="more">Audio</a></div>
		</div>
	</div>
	<div class="col-2">
		<h2>Audio</h2>
		<p>
		<ul class="audio">
            {% for audio in audio_list %}
            <li><a href="{{ audio.get_absolute_url}}">{{ audio.name }}</a> <span class="info"><a href="{{ audio.author.get_absolute_url }}">{{ audio.author }}</a></span> <a href="{{ audio.genre.get_absolute_url }}">{{ audio.genre }}</a><div class="cntrls"><a href="#" class="mute"></a><span class="separator"></span><a href="{{ audio.audio.url }}" class="play"></a></div></li>
             <li>   <audio controls>
    <source src="{{ audio.audio.url }}" type="audio/ogg; codecs=vorbis"  controls="controls">
    <source src="{{ audio.audio.url }}" type="audio/mpeg">
    Тег audio не поддерживается вашим браузером.
    <a href="{{ audio.audio.url }}">Скачайте музыку</a>.
  </audio></li>
            {% endfor %}


		</ul>
	</div>
	<div class="col-3">
		<h2>Latest Add</h2>
		<div class="und">
        <p>Last audio</p>
            <p>Name: {{ audio.last.name }}</p>
            <p>Author: {{ audio.last.author }}</p>
              <audio controls>
    <source src="{{ audio.last.audio.url }}" type="audio/ogg; codecs=vorbis"  controls="controls">
    <source src="{{ audio.last.audio.url }}" type="audio/mpeg">
    Тег audio не поддерживается вашим браузером.
    <a href="{{ audio.audio.url }}">Скачайте музыку</a>.
  </audio>
 <p>Last video</p>
            <p>Name: {{ object.name }}</p>
            <p>Author: {{ object.author }}</p>
              <video   controls="controls" loop="loop" width="100%">
               <source src="{{ object.video.url }}" type="video/mp4" controls>
                 <source src="{{ object.video.url }}"  type='video/webm' codecs="vp8, vorbis">
                 <source src="{{ object.video.url }}" type="video/mp4">
                 <source src="{{ object.video.url }}" type='video/ogg' codecs="theora, vorbis">
            </video>
		</div>
		<h2>Newsletter</h2>
		<form action="{% url 'index3' %}" method="get" id="subscribe" >
		<fieldset>
			<label>
			<input type="search" >
			</label>
			<input type="submit" value="">
		</fieldset>
		</form>
		<h2>Find Me</h2>
		<ul class="soc-ico">
		<li><a href="#"><img src="{% static 'new/images/facebook.png' %}" alt=""></a></li>
		<li><a href="#"><img src="{% static 'new/images/twitter.png' %}" alt=""></a></li>
		<li><a href="#"><img src="{% static 'new/images/myspace.png' %}" alt=""></a></li>
		<li><a href="#"><img src="{% static 'new/images/linkedin.png' %}" alt=""></a></li>
		</ul>
	</div>
  </article>
  <div class="af clear"></div>
</div>
<footer>
	<span>
    	<a href="http://www.templatemonster.com/" target="_blank">Website template</a> designed by TemplateMonster.com<br>
		<a href="http://www.templates.com/product/illustrations/" target="_blank">Vector Illustration</a> provided by Templates.com
	</span>
</footer>
<script type="text/javascript">Cufon.now()
$(function(){
	$('nav,.more,.header-more').sprites()

	$('.header-slider').gSlider({
		prevBu:'.hs-prev',
		nextBu:'.hs-next'
	})
	
	$('a[rel=prettyPhoto]').each(function(){
		var th=$(this),
			pb
		th
			.append(pb=$('<span class="playbutt"></span>').css({opacity:.7}))
		pb
			.bind('mouseenter',function(){
				$(this)
					.stop()
					.animate({opacity:.9})
			})
			.bind('mouseleave',function(){
				$(this)
					.stop()
					.animate({opacity:.7})
			})
	})
	.prettyPhoto({theme:'dark_square'})
})
</script>
</body>
{% endblock %}